CompileFlags:
    Add:
        - -ID:\arm-gnu-toolchain-13.3.rel1-mingw-w64-i686-arm-none-eabi\arm-none-eabi\include\c++\13.3.1
        - -ID:\arm-gnu-toolchain-13.3.rel1-mingw-w64-i686-arm-none-eabi\arm-none-eabi\include\c++\13.3.1\arm-none-eabi\thumb\v7e-m\nofp
        - -ID:\arm-gnu-toolchain-13.3.rel1-mingw-w64-i686-arm-none-eabi\arm-none-eabi\include\c++\13.3.1\backward
        - -ID:\arm-gnu-toolchain-13.3.rel1-mingw-w64-i686-arm-none-eabi\lib\gcc\arm-none-eabi\13.3.1\include
        - -ID:\arm-gnu-toolchain-13.3.rel1-mingw-w64-i686-arm-none-eabi\lib\gcc\arm-none-eabi\13.3.1\include-fixed
        - -ID:\arm-gnu-toolchain-13.3.rel1-mingw-w64-i686-arm-none-eabi\arm-none-eabi\include
        - -Id:\arm gnu toolchain arm-none-eabi\12.3 rel1\arm-none-eabi\include\c++\12.3.1
        - -Id:\arm gnu toolchain arm-none-eabi\12.3 rel1\arm-none-eabi\include\c++\12.3.1\arm-none-eabi\thumb\v7e-m+fp\hard
        - -Id:\arm gnu toolchain arm-none-eabi\12.3 rel1\arm-none-eabi\include\c++\12.3.1\backward
        - -Id:\arm gnu toolchain arm-none-eabi\12.3 rel1\lib\gcc\arm-none-eabi\12.3.1\include
        - -Id:\arm gnu toolchain arm-none-eabi\12.3 rel1\lib\gcc\arm-none-eabi\12.3.1\include-fixed
        - -Id:\arm gnu toolchain arm-none-eabi\12.3 rel1\arm-none-eabi\include
    CompilationDatabase: ./build/Debug
    Compiler: D:\Arm GNU Toolchain arm-none-eabi\12.3 rel1\bin\arm-none-eabi-g++.exe
